@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Satoshi", ui-sans-serif, system-ui, Avenir, sans-serif;

  color: rgba(255, 255, 255);
  background-color: #1E1733;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}