@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Satoshi", ui-sans-serif, system-ui, Avenir, sans-serif;

  color: rgba(255, 255, 255);
  background-color: #1E1733;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes color-cycle {
  0% {
    color: #ffffff;
  }

  20% {
    color: #665D91;
  }

  40% {
    color: #34D399;
  }

  60% {
    color: #FCD34D;
  }

  80% {
    color: #60A5FA;
  }

  100% {
    color: #ffffff;
  }
}

.animate-color-cycle {
  animation: color-cycle 6s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-color-cycle {
    animation: none;
  }
}